.resultPage{
    height: 85vh;
    background: #4b6cb7;
    background: linear-gradient(to top,#4b6cb7,#182848);
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    text-align: center;
}

button {
    background-color: green;
    color:white;
    width: 50%;
}